@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto";
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.moving-gradient {
  background: linear-gradient(270deg, #ff0000, #a300ff, #0000ff, #a300ff);
  background-size: 600% 600%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientMove 10s linear infinite;
}